<launch>
    <arg name="camera_name" default="asus"/>
    <arg name="depth_confidence_threshold" default="30"/>
    <arg name="depth_range" default="5.0"/>
    <arg name="rgb_width" default="640"/>
    <arg name="rgb_height" default="360"/>
    <arg name="range_max" value="5.0" />

    <include file="$(find openni2_launch)/launch/openni2.launch"/>

    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="/camera/depth/image_rect" />
        <remap from="scan" to="/asus_scan" />
        <param name="output_frame_id" value="camera_link" />
        <param name="scan_height" value="10" />
        <param name="range_max" value="$(arg range_max)" />
    </node>

    <node pkg="rosaria" type="RosAria" name="RosAria" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.5 -1.5708 0 -1.5708 base_link asus_depth_frame 20" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 -1.5708 1.5708 asus_depth_frame asus_laser_frames 20" />
</launch> 
